<div class="modal fade" id="note-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">New Note</h4>
      </div>
      <div class="modal-body">
        <p>Text box here for new note (maybe insert previous notes above and scroll around)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add note</button>
      </div>
    </div>
  </div>
</div>
