<div class="modal fade" id="note-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">New Note</h4>
      </div>
      <div class="modal-body">
        <%= form_for(Note.new, html: {name: "form",
                                   class: "form form-horizontal",
                                   role: "form"}) do |f| %>
          <div class="form-group">
            <label class="col-sm-2 control-label">Note</label>
            <div class="col-sm-10">
              <%= f.text_area :note,
                class: 'form-control',
                required: true,
                'ng-model' => 'note.note' %>
              <input name="service_request_id" type="hidden" value="<%= @service_request.id %>" />

            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <%= f.submit 'Add Note', class: 'btn btn-primary pull-right',
                'ng-click' => 'save($event)' %>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
