<div ng-controller="ServiceRequestsCtlr">
  <h1>Service Request Form</h1>
  <form novalidate class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" ng-model="request.client_name"></input>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Email Address</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" ng-model="request.client_email"></input>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Primary Phone</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" ng-model="request.client_phone"></input>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Community Name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" ng-model="request.community_name"></input>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Street Address</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" ng-model="request.community_street_address"></input>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Apartment Number</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" ng-model="request.apt_number"></input>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Zip Code</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" ng-model="request.community_zip_code"></input>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Request Type</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="request.type">
          <option ng-repeat="type in request_types">{{type}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Authorized to enter at any time?</label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" value="true" ng-model="request.authorized_to_enter" />Yes
        </label>
        <label class="radio-inline">
          <input type="radio" value="false" ng-model="request.authorized_to_enter" />No
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Pet?</label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" value="true" ng-model="request.pet" />Yes
        </label>
        <label class="radio-inline">
          <input type="radio" value="false" ng-model="request.pet" />No
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Alarm?</label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" value="true" ng-model="request.alarm" />Yes
        </label>
        <label class="radio-inline">
          <input type="radio" value="false" ng-model="request.alarm" />No
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Description of Work</label>
      <div class="col-sm-10">
        <textarea class="form-control" ng-model="request.work_desc"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Special Instructions</label>
      <div class="col-sm-10">
        <textarea class="form-control" ng-model="request.special_instructions"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" ng-click="save()" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
