<div ng-controller="IndexController">
<h1>Service Requests</h1>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Request ID</th>
      <th>Created</th>
      <th>Status</th>
      <th>Staff Assigned</th>
      <th>Full Details</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="request in requests">
<td>{{request.id}}</td>
<td>{{request.created_at}}</td>
<td>{{request.status}}</td>
<td>{{request.assigned_worker}}</td>
<td><a href="/service_requests/{{request.id}}">View</a></td>
<!--<td>
{{request.client_name}}
{{request.community_name}}  
{{request.client_phone}}
{{request.client_email}}
{{request.apt_number}}
{{request.work_desc}}
{{request.special_instructions}}
{{request.alarm}}
{{request.community_street_address}}
{{request.community_zip_code}}
{{request.assigned_at}}
{{request.closed_at}}
{{request.updated_at}}
{{request.pet}}
</td>-->
</tr>
<tr ng-repeat="request in requests"><td colspan="5">{{request.work_desc}}</td></tr>
</tbody>
</table>
</div>