<div ng-controller="IndexController">
<h1>Service Requests</h1>
<input type="text" id="query" ng-model="query"/>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Request ID</th>
      <th>Created</th>
      <th>Status</th>
      <th>Staff Assigned</th>
      <th>Full Details</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="request in requests | filter:query">
      <td>{{request.id}}</td>
      <td>{{request.created_at | date : 'mediumDate'}}</td>
      <td>{{request.status}}</td>
      <td>{{request.assigned_worker}}</td>
      <td><a href="/service_requests/{{request.id}}">View</a></td>
      <td>{{request.work_desc}}</td>
    </tr> 
  </tbody>
</table>
</div>