<div ng-controller="IndexController">  

  <h1>Service Requests</h1>
  <div ng-controller="UserRequestsCtlr">
    <%= render partial: 'index' %>
  </div>

  <div ng-controller="RequestsCtlr">
    <%= render partial: 'index' %>
  </div>

</div>
