<div ng-controller="ServiceRequestsCtlr">
  <h1>Service Request Form</h1>
  <form>
    <label>Community Name</label>
    <input type="text" ng-model="communityName"></input>
    <label>Name</label>
    <input type="text" ng-model="name"></input>
    <label>Email</label>
    <input type="text" ng-model="email"></input>
  </form>
</div>
