<div ng-app="pathwayHomes">
	<div ng-controller="ServiceRequestsCtlr">
		<h1>Service Request Form</h1>

		<h2>Title of Request</h2>
		<h3>Date Submitted</h3>

		<h3>Name/Community Name</h3>
		<h3>Apt/Building Number </h3>

		<h3>STATUS</h3>
		<section id="requestDescription">  </section>

		<%= link_to "Edit" %><br/>
		<%= link_to "Submit" %>

	</div>
</div>