<div ng-app="pathwayHomes">
	<div ng-controller="ServiceRequestsCtlr">
		<h1>Service Request Form</h1>

		<h2 ng-model="request.type">Type of Request: {{type}}</h2>
		<h3>Date Submitted: {{request.created_at}}</h3>

		<h3 ng-model="request.communityName">Name/Community Name: {{communityName }}</h3>
		<h3 ng-model="request.apartment">Apt/Building Number: {{apt.number}}</h3>

		<h3>STATUS: {{request.status}}</h3>
		<section id="requestDescription">
			<p>{{request.description}}</p>
			<p>{{request.instructions}}</p>
		  </section>

		<%= link_to "Edit", edit_service_request_path, class: "btn btn-default" %>
		<%= link_to "Submit", class: "btn btn-default" %>

	</div>
</div>