<div ng-controller="ShowController" data-id="<%= @service_request.id %>">
	<h1>Service Request #{{service_request.id}}</h1>
	
	<div class="col-sm-4">
		<div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">Requestor</h3></div>
			<div class="panel-body">
				<p>Created by {{service_request.creator_name}} at {{service_request.created_at | date : 'mediumDate'}}</p>
				<p>Email: {{service_request.email}}</p>
				<p>Status: {{service_request.status}}</p>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">Community Information</h3></div>
			<div class="panel-body">
				<p>Name: {{service_request.community_name}}</p>
				<p>Address: {{service_request.community_street_address}}</p>
				<p>Apt/Building Number: {{service_request.apt_number}}</p>
				<p>Zip: {{service_request.community_zip_code}}</p>
				<p>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">Something</h3></div>
			<div class="panel-body">Apt/Building Number: {{service_request.apt_number}}</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">Work Description</h3></div>
			<div class="panel-body">
				<p>Request Type: {{service_request.full_request_type}}</p>
				<section id="requestDescription">
					<p>Description of Work: {{service_request.work_desc}}</p>
					<p>Special Instructions: {{service_request.special_instructions}}</p>
				 </section>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<%= link_to "Edit", edit_service_request_path, class: "btn btn-default" %>
	</div>

</div>