<div ng-controller="RequestTypesCtlr">
  <h1>Request Types</h1>
  <div>
    <input type="text" id="query" ng-model="query" placeholder="Search" class="search-input"/>
     <p><%= link_to "Create New Request Type", new_request_type_path, class: "btn btn-default" %></p>
    <ul class="requests-list">
      <li class="requests-heading">
        <div class="col-md-2">Category</div>
        <div class="col-md-2">Request</div>

      </li>

      <li ng-repeat="request_type in request_types | filter:query" class="list-item" >
        <div class="col-md-2">{{request_type.category }}</div>
        <div class="col-md-3">{{request_type.request }}</div>
        <div class="col-md-3">Edit</div>
      </li>
    </ul>
  </div>
</div>
