<div ng-controller="RequestTypesCtlr">
  <h1>Request Types</h1>
  <div>
    <input type="text" id="query" ng-model="query" placeholder="Search" class="search-input"/>
     <p><%= link_to "Create New Request Type", new_request_type_path, class: "btn btn-default" %></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Request</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>

      <tr ng-repeat="request_type in request_types | filter:query" class="list-item" >
        <td class="col-md-2">{{request_type.category }}</td>
        <td>{{request_type.request }}</td>
        <td><a href="/request_type/">Edit</a></td>
      </tr>
      <tbody>
    </table>
  </div>
</div>
