

.service-requests-index {
  .request-id-th {
    min-width: 96px;
  }

  .created-th {
    min-width: 96px;
  }
 
  .status-th {
  }

  .staff-assigned-th {
    min-width: 116px;
  }

  .details-th {

  }

}
